  header {
      background-color: #01274D;
      color: #D4D4D4;
      max-width: 1000px;
      margin: 0 auto;
      border: 5px solid #001427;
  }

  main {
      background-color: #D4D4D4;
      color: #01274D;
      max-width: 1100px;
      margin: 0 auto;
  }

  article {
      display: flex;
  }

  img {
      width: 145px;
      height: 150px;
  }

  .artigo-autor {
      font-weight: bold;
  }